
.search-box {
    display: flex;
    flex-direction: column;
  
    &__label {
      font-size: 20px;
    }
  
    &__input {
      margin: 40px ;
      padding: 10px;
      font-size: 18px;
      border: 3px gray solid;
      width: 200px;
      border-radius: 15px;
      color: black;
  
      &:focus {
        border: 5px dark rgb(90, 84, 84) solid;
        outline: none;
      }
    }
  }