@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

.card{
    width: 250px;
    height: 350px;
    background: whitesmoke;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 10px 20px rgb(45 52 54 / 25%);
    margin: 10px;

     
    &__beerImage{
        width: 35%;
        height: 280px;
        border-radius: 5px;
        border: none;
    }

    &__name{
        font-size: medium;
        color:black;
        font-family: 'Explora', cursive;
        font-size: x-large;
       font-weight: bold;
    }

    &__tagline{
        font-size: medium;   
    }

  
}

 .card:hover{
 background:  lightgray;
 cursor: pointer;
 box-shadow: 0 0.4rem 1.4rem 0;
     
    }